.git/
.github/
.gitignore
node_modules/
dist/
.env*
.vscode/
*.log
coverage/
.eslintcache
.DS_Store
Thumbs.db
*.md
docs/
compose.yml
Taskfile.yml
nodejs-sample-kubernetes.yaml
*.config.js
!vite.config.ts
!esbuild.config.js
!tailwind.config.js
!postcss.config.js
!tsconfig.json